version: '3.1'

services:
  n8n:
    image: n8n-debian-image
    restart: always
    container_name: n8n-app-container
    ports:
      - 127.0.0.1:5678:5678
    volumes:
      - n8n-app:/home/node/.n8n
    env_file:
      - .env

  postgres:
    image: postgres:13
    restart: always
    container_name: n8n-pg-container
    env_file:
      - .env
    volumes:
      - n8n-pg:/var/lib/postgresql/data

volumes:
  n8n-app:
  n8n-pg: